---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

---

<BaseLayout>

    <div class="pb-12 mt-5">
      <div class="text-xl py-1">Hey there 👋</div>
      <div class="text-5xl font-bold">I'm Srinidharan S</div>
      <div class="text-3xl py-3 font-bold">UI/UX Designer</div>
      <div class="py-2">
        <text class="text-lg">
          A curious student with a passion for design. With skills in UI/UX design, 3D modeling, and Web design. Xploring new creative avenues to bring ideas to life.
          </text
        >
      </div>
      <div class="mt-8">
        <a class="btn" href="https://www.linkedin.com/in/srinidharan/" target="_blank"> Let's connect!</a>
        
      </div>
    </div>

    <div>
      <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
    </div>

    <HorizontalCard
      title="Ctrl - Case Study"
      img="/casestudy_thumbnail.PNG"
      desc="Screen time control application who want to stay productive without being distracted by their devices. It allows users to set limits on screen time, block distracting apps, and schedule breaks."
      url="https://www.behance.net/gallery/169382667/Ctrl-Application-UIUX-Case-Study"
      badge="Figma"
    />
    <div class="divider my-0"></div>

    <HorizontalCard
      title="Ctrl - IOS UI"
      img="Ios_presentation.png"
      desc="Our application now allows users to listen to their favorite podcasts while they work, with recommendations based on their interests and history. They can also choose from a variety of background sounds to help them stay focused and relaxed."
      url="https://www.behance.net/gallery/169429563/Ctrl-Application-IOS-UI-Presentation"
      badge="Figma"
    />
    <div class="divider my-0"></div>
    
    <HorizontalCard
    title="Rune Sword"
    img="/sword_thumbnail.png"
    desc="A determined man walks towards a sword stuck in a rock"
    url="https://www.artstation.com/artwork/EvaYn4"
    badge="Blender"
  />
    <div class="divider my-0"></div>
    <HorizontalCard
    title="Insect Catch Game"
    img="/Game_thumbnail.PNG"
    desc="In the infinite insect catch game, catch as many insects as possible using tap controls. The insects get faster and trickier to catch as you progress. "
    url="https://srinidharan.github.io/50-Projects-50-Days/Day-50/index.html"
    badge="Javascript"
  />

</BaseLayout>
