---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">UI/UX Designs</div>
  </div>

  <HorizontalCard
  title="Vinyl"
  img="/vinyl_thumbnail.png"
  desc="The vinyl mobile app was created to make it easier to listen to music both online and offline."
  url="https://www.behance.net/gallery/165351931/Vinyl-Music-Player-App"
/>

  <div class="divider my-0"></div>
  <HorizontalCard
    title="Renovation app"
    img="/renovation_thumbnail.png"
    desc="The renovation mobile app is a one-stop-shop for home improvement. Find inspiration, visualize, create a shopping list, connect with professionals, and track progress, all in one place."
    url="https://www.behance.net/gallery/162272831/Renovation-app-UIUX"
  />

  <div class="divider my-0"></div>
  <HorizontalCard
    title="Ham Restaurant"
    img="/Restaurent_thumbnail.png"
    desc="The food ordering app lets you browse restaurants, customize your meal, and track your order in real-time. Satisfy your cravings with just a few taps, anywhere, anytime."
    url="https://www.behance.net/gallery/160416745/Food-Ordering-App-UI"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">3D space</div>
  </div>

  <HorizontalCard
    title="Car Animation"
    img="/car_thumbnail.png"
    desc="A cute stylized car driving through the colorful countryside in Blender."
    url="https://youtu.be/V_VNVlvP5ho"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Rune Sword"
    img="/sword_thumbnail.png"
    desc="A determined man walks towards a sword stuck in a rock"
    url="https://www.artstation.com/artwork/EvaYn4"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Web designs</div>
  </div>

  <HorizontalCard
  title="Insect Catch Game"
  img="/Game_thumbnail.PNG"
  desc="In the infinite insect catch game, catch as many insects as possible using tap controls. The insects get faster and trickier to catch as you progress. "
  url="https://srinidharan.github.io/50-Projects-50-Days/Day-50/index.html"
  />

  <div class="divider my-0"></div>
  <HorizontalCard
    title="Designing Delights"
    img="/delights_thumbnail.PNG"
    desc="Fun and creative web projects"
    url="https://srinidharan.github.io/Html-and-Css-projects/"
  />

  <div class="divider my-0"></div>
  <HorizontalCard
    title="E-Quake"
    img="/earthquake_thumbnails.PNG"
    desc="Earthquake-Visualization project built with Esri ArcGIS data and designed in HTML and CSS validated with JS"
    url="https://srinidharan.github.io/EarthQuack/"
  />

</BaseLayout>
